extends main

block content
  div(class="container has-text-centered")
    h3(class="title is-3 has-text-white") Mis Laboratorios
    p(class="subtitle is-5 has-text-white") Selecciona un laboratorio para visualizarlo
    
    div(class="columns is-multiline is-centered")
      each lab in labs
        div(class="column is-12-mobile is-6-tablet is-4-desktop")
          a(href=`/labs/${lab.id}` style="text-decoration: none;")
            div(class="card has-background-dark has-text-white")
              div(class="card-content")
                div(class="has-text-centered mb-4")
                  span(class="icon is-large")
                    i(class="fas fa-code fa-3x")
                h4(class="title is-4 has-text-white") #{lab.title}
                p(class="has-text-white") #{lab.description}
              div(class="card-footer has-background-dark")
                p(class="card-footer-item has-text-white") Ver detalles